# Binaries for programs and plugins
*.so
*.dylib

# VSCode workspace files
.vscode

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Compiled binary 
logstash-exporter
deploy/tower-metrics/docker/bin/*

# Deployment & Config data
.env
deploy/tower-metrics/docker/bin/*
deploy/tower-metrics/charts/custom-values.yaml
